/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 23, 2021, 10:51:51 PM
    Author     : j.chong
*/

.title{
    transform: translate(65px, 15px);
    width: max-content;
}

.btn.close-btn, .btn.menu-btn{
    cursor: pointer;
    outline: none !important;
    border: none !important;
    box-shadow: unset !important;
    background-color: unset !important;
}
.menu-btn {
    position: absolute;
    font-size: 24px !important;
    transform: translate(8px, 8px);
}
.close-btn {
    font-size: 24px !important;
    transform: translate(35px, -10px);
}
.copyright {
    width: max-content;
    position: fixed;
    padding: 20px 15px;
    font-size: 10px;
    bottom: 0px;
}
.copyright .btn-danger {
    width: 100%;
    margin: 10px 0px;
}
.staff-nav {
    position: fixed;
    transform: translateX(-270px);
    transition: 0.4s;
    width: 270px;
    min-height: 100vh;
    height: max-content;
    background-color: rgb(224,255,255);
    z-index: 50;
}
.staff-nav>ul {
    list-style: none;
    margin: 0px 25px;
    padding: 30px 0px;
}
.staff-nav>ul>li {
    height: max-content;
    padding: 0px 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
.staff-nav>ul>li>a:hover {
    text-decoration: unset;
}
.staff-nav>ul i {
    float: right;
}
.collapse-ul{
    transition: 0.3s;
    max-height: 0px;
    overflow: hidden !important;
    padding-left: 35px;
}
.collapse-ul li{
    margin-top: 5px;
}