/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 23, 2021, 10:51:51 PM
    Author     : j.chong
*/

body {
    margin: 0px !important;
    background-color: whitesmoke !important;
}
.btn{
    cursor: pointer;
    outline: unset;
    border: unset;
    background-color: unset;
}
.menu-btn {
    position: absolute;
    font-size: 24px;
    transform: translate(20px, 15px);
}
.close-btn {
    font-size: 28px;
    transform: translate(48px, -40px);
}
.copyright {
    width: max-content;
    position: fixed;
    padding: 20px 15px;
    font-size: 12px;
    bottom: 0px;
}
.staff-nav {
    transform: translateX(-270px);
    transition: 0.4s;
    width: 270px;
    min-height: 100vh;
    height: max-content;
    background-color: rgb(224,255,255);
}
.staff-nav>ul {
    list-style: none;
    margin: 0px 20px;
    padding: 25px 0px;
}
.staff-nav>ul>li {
    height: max-content;
    padding: 0px 10px;
    margin-bottom: 35px;
    cursor: pointer;
}
.staff-nav>ul i {
    float: right;
}
.collapse-ul{
    transition: 0.3s;
    max-height: 0px;
    overflow: hidden !important;
    padding-left: 35px;
}
.collapse-ul li{
    margin-top: 15px;
}