/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-Mar-2021, 13:51:38
    Author     : Forge-15
*/

#wrapper{
    display: flex;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: #47748b;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s;
    width: 14rem !important;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}



#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: rgba(255, 255, 255, 0.8);
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #ddd;
}



